/target
book/book/
.venv/
tools/out/
**/*.rs.bk
*.swp
*.swo
__pycache__/
*.pyc
.DS_Store
data
out
py
lib_ringgrid.dylib.dSYM
uv.lock
crates/ringgrid-wasm/pkg/
target
API_REVISION.md
docs/rectring.pdf
